body {
  background: url(https://rooftop.dev/images/contact-us-bg.jpg) no-repeat;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #28323c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.btn {
  color: #fff;
  background-color: #28323c;
  border-radius: 0.5em;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.header ul {
  display: flex;
  flex-direction: row;
}

.header li {
  list-style: none;
  padding: 0em 1em;
  font-weight: 500;
}
.header li:last-child {
  padding: 0 0 0 1em;
}

.header a {
  color: #28323c;
  font-size: 0.9rem;
  text-decoration: none;
}
header .btn--nav {
  color: #fff;
  padding: 0.3em 1.3em;
  border-radius: 0.5em;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5em;
}

/* Section-Left*/
.section--left {
  width: 40%;
}
.section--left h1 {
  font-weight: 500;
  font-size: 3rem;
}
.section--left-subtitle {
  margin-bottom: 1.5em;
}

.section-card {
  background-color: #fff;
  padding: 2em;
  width: 80%;
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.section-card-txt {
  margin-left: 0.5em;
}
.card-title {
  font-weight: 700;
}
.card-p {
  font-size: 0.9rem;
  width: 90%;
}

.social-icons i {
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0.7em 0.9em;
  border-radius: 0.5em;
  margin-top: 3em;
  margin-right: 0.3em;
}

/* Section-Right - Form */
form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  margin-top: 1.5em;
}

form input,
form textarea,
form select {
  border: 1px solid #bdbdbd;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.3em;
  caret-color: red;
}

.form-btn {
  border: none;
  font-weight: 700;
  padding: 1em 0em;
}
.form--container {
  display: flex;
  justify-content: space-between;
}

.form--container div {
  width: 48%;
}

/* Floating Labels */
.field {
  position: relative;
}

.field__label {
  color: #919293;
  box-sizing: border-box;
  display: block;
  font-size: 0.8rem;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: 0.5em 1em;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(3px);
  transition: all 0.2s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}
.field--not-empty .field__label {
  opacity: 1;
  transform: none;
}

.field__input {
  padding: 1.1em;
  transition: all 0.2s ease-out;
  width: 100%;
}
.field__input:hover,
.field__input:focus {
  /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 0 0 10px 0 rgba(85, 85, 85, 0.1);
  outline: 0;
}
.field--not-empty .field__input {
  padding-bottom: 1.1em;
  padding-top: 1.1em;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #28323c;
  font-size: 0.9rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #28323c;
  font-size: 0.9rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #28323c;
  font-size: 0.9rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #28323c;
  font-size: 0.9rem;
}

.form-select {
  font-size: 0.9rem;
  padding: 1.33em !important;
}
