body {
  background: url(https://rooftop.dev/images/contact-us-bg.jpg) no-repeat;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #28323c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 1em;
}
.header ul {
  display: flex;
  flex-direction: row;
}

.header li {
  list-style: none;
  padding: 0em 1em;
  font-weight: 500;
}

.header a {
  color: #28323c;
  font-size: 0.9rem;
  text-decoration: none;
}
header .btn {
  color: #fff;
  background-color: #28323c;
  padding: 0.3em 1.3em;
  border-radius: 0.5em;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5em;
}
.section--left {
  width: 40%;
}
.section--left h1 {
  font-weight: 500;
  font-size: 3rem;
}
.section--left-subtitle {
  margin-bottom: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
}
.section-card {
  background-color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: row;

  border-radius: 0.5em;
  margin-bottom: 1em;
}
.section-card-txt {
  margin-left: 0.5em;
}
.card-title {
  font-weight: 700;
}

.card-title + p {
  width: 70%;
}

.social-icons i {
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0.8em;
  border-radius: 0.5em;
  margin-right: 0.3em;
}
